.container--about {
  background-color: chocolate;
}

.container-p {
  padding: 20px 20px;
  text-align: center;
}

.list-wraper {
  margin: 0 auto;
  padding: 0 15px;
}

.title-main {
  text-align: center;
}

.section-title {
  font-weight: 500;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  color: #f58f18;
  margin: 18px auto;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.section-team {
  padding: 10px 20px;
}


.section-team-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .section-team-ul {
    flex-wrap: nowrap;
  }
}
 
.about-team {
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-team {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .about-team {
    margin-bottom: 30px;
  }
}

.team {
  font-weight: 500;
  font-size: 21px;
  line-height: calc(19 / 16);
  color: #212121;
}

.team-li {
  width: 50%;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-li {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-li {
    margin-bottom: 0;
  }
}

.team-li:last-child {
  margin-bottom: 0;
}

.icon-list-team {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-team {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.icon-team:hover,
.icon-team:focus {
  background-color: #f58f18;
  fill: white;
}


.icon-team:focus .team-icon-li {
  fill: white;
}
