/* Používáme intuitivní výpočet rozměrů prvků. */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}




/* Styles for information.html */




/* Styles for about.html */

