@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #323131;
  font-size: 15px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/* header & nav */
header {
  background-color: #34bbd1;
}

nav {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 18px 25px;
  font-weight: 400;
  font-size: 17px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  /* Smooth hover effects */
}

nav a:hover {
  background-color: #cef7fe;
  color: #34bbd1;
}

.active-nav {
  background-color: #cef7fe;
  color: #34bbd1;
}

/* Styles for about.html */

.social-icon {
  width: 20px;
}
