/* Používáme intuitivní výpočet rozměrů prvků. */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.icon-list-team {
  display: flex;
  gap: 10px;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/* styles for index */

.main-title {
  text-align: center;
}

.questionary {
  width: fit-content; /* Adjusts width based on content */
  margin: 0 auto; /* Centers the form horizontally */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: sans-serif; /* Choose your preferred font */
}

.questionary h2 {
  margin-bottom: 10px;
  text-align: center;
}

.questionary p {
  font-size: 0.8em; /* Slightly smaller text for explanation */
  margin-bottom: 15px;
  text-align: center;
}

.questionary div {
  margin-bottom: 10px;
}

.questionary input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 5px;
}

.questionary label {
  cursor: pointer; /* Makes the label clickable */
}

.questionary button {
  display: block; /* Makes the button fill the width */
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f58f18; 
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out; /* Smooth hover effect */
}

.questionary button:hover {
  background-color: #02997e; 
}

.index-pic {
  width: 200px;
  display: block;
  margin: 20px auto;
}


/* Styles for information.html */


/* Styles for about.html */

.container--about {
  background-color: chocolate;
}

.section-team-ul {
  display: flex;
}
.about-team {
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #212121;
}

.team-li {
  width: 50%;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.team-li:last-child {
  margin-bottom: 0;
}

.social-icon {
  width: 20px;
}
